# The Tidyverse for GCDkit users

### A gentle introduction

The tidyverse (https://www.tidyverse.org) is "*an opinionated collection of R packages designed for data science. All packages share an underlying design philosophy, grammar, and data structures*". This tutorial aims at giving some basics for R/GCDkit users.

The tidyverse packages excel at two things: (i) data management, (ii) plotting. These are two tasks commonly performed with geochemical data, and it is no surprise that the tidy functions perform well in that respect.

## Installation

The tidyverse is a collection of half a dozen or so of packages. Assuming they have been installed beforehand (install.packages), most tidyverse packages can be loaded in one go with

In [3]:
library(tidyverse)

Warning message:
"package 'tidyverse' was built under R version 3.6.3"
-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.2     v purrr   0.3.4
v tibble  3.0.4     v dplyr   1.0.2
v tidyr   1.0.2     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.0

Warning message:
"package 'ggplot2' was built under R version 3.6.3"
Warning message:
"package 'tibble' was built under R version 3.6.3"
Warning message:
"package 'tidyr' was built under R version 3.6.3"
Warning message:
"package 'readr' was built under R version 3.6.3"
Warning message:
"package 'purrr' was built under R version 3.6.3"
Warning message:
"package 'dplyr' was built under R version 3.6.3"
Warning message:
"package 'forcats' was built under R version 3.6.3"
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

Each component of the tidyverse has an online documentation on its website, and a very convenient "cheat sheet" (in pdf format). The main packages are

### Tidyverse core.
All of these are loaded by `library(tidyverse)`:
- **tibble**. Supplies a new type of data structure, a "tibble" (more on that below). https://tibble.tidyverse.org
- **readr**. High-level functions for reading files. https://readr.tidyverse.org 
- **tidyr**. Cleans and reshapes data. https://tidyr.tidyverse.org
- **magrittr**. Supplies pipe operators, very pleasant "syntaxic sugar" to chain operations. https://magrittr.tidyverse.org . Some of the advanced possibilities of magrittR require loading it independently (`library(magrittr)`)
- **dplyr**. Data transformation, offers an SQL-like syntax to operate on tibbles. https://dplyr.tidyverse.org
- **ggplot2**. High-level plotting functions. https://ggplot2.tidyverse.org
- See also **stringr** (string manipulation), **forcats** (factors), and **purr** (map/reduce, i.e. a ?better version of the "apply" family), and also **lubridate** to work with dates, etc. https://www.tidyverse.org/packages/
There are rare cases where individual packages should be loaded by hand (see github etc.), mostly as a result of bugs or "unexpected features". This should probably not be an issue.

### More tidyverse
Not loaded with `library(tidyverse)`:
- **readxl**. Read excel format. Very efficient and much easier to use than the regular ODBC library. https://readxl.tidyverse.org

### Friends of tidyverse
There are not officially part of the tidyverse, they are maintained by different authors and so on but they play well with it.
- **clipr**. Read and write to/from the clipboard, much better than the regular R functions. https://github.com/mdlincoln/clipr
- **R6**. Supplies python-like classes to R. https://r6.r-lib.org

The tidyverse supplies a lot of "syntaxic sugar" (for instance column names can idniferently be quoted or not quoted, etc). This makes it very easy to use for inline processing (notebook or script), less so for programming. Also, tidyverse code ends to be more verbose (but arguably more readable) than equivalent R code.

## Some key components

## Tibbles

Tibbles (a pun on "table") are R data frames, with improved functionalities. As they say on the web site, tibbles "*are lazy and surly: they do less (i.e. they don’t change variable names or types, and don’t do partial matching) and complain more (e.g. when a variable does not exist). This forces you to confront problems earlier, typically leading to cleaner, more expressive code.*"

A tibble is created in the usual way :

In [7]:
ds <- tibble (a=c(1,2,3),
              b=c(NA,4,5),
              d=c("blue","green","red"))

The first obvious difference with a data frame is that a tibble has a nicer `print` method (*well, it is not visible in Jupyter because df's and tibbles are formatted in the same way, but try in Rgui...*) :

In [8]:
ds

  a b  d
1 1 NA blue
2 2  4 green
3 3  5 red

However, the more important differences are best evidenced when comparing with the behaviour of normal data.frames.

In [32]:
gcdkit.dir<-"C:\\Users\\moje4671\\R\\win-library\\3.6\\GCDkit\\"
sazFile <- paste(gcdkit.dir,"data\\sazava.txt",sep="")

In [38]:
sazava.df<-read.table(sazFile)
sazava.df

       Intrusion Locality   Petrology                 Outcrop
Sa-1   Sazava    Mrac       bi-amph quartz diorite    working quarry
Sa-2   Sazava    Mrac       bi-amph quartz diorite    working quarry
Sa-3   Sazava    Mrac       bi-amph quartz diorite    working quarry
Sa-4   Sazava    Mrac       bi-amph quartz diorite    working quarry
Sa-7   Sazava    Teletin    bi-amph tonalite          disused quarry
SaD-1  basic     Teletin    bi-amph quartz diorite    disused quarry
Gbs-1  basic     Pecerady   px-amph gabbro            disused quarry
Gbs-20 basic     Pecerady   px-amph gabbro            disused quarry
Gbs-2  basic     Vavretice  amph-bi qtz gabbrodiorite disused quarry
Gbs-3  basic     Brtnice    amph-bi qtz gabbrodiorite water supply gallery
Po-1   Pozary    Krhanice   bi trondhjemite           working quarry
Po-3   Pozary    Prosecnice bi trondhjemite           working quarry
Po-4   Pozary    Prosecnice bi trondhjemite           working quarry
Po-5   Pozary    Prosecnice bi trondhjemite           working quarry
       Symbol Colour SiO2  TiO2 Al2O3 FeO  ... Dy   Ho   Er   Tm   Yb   Lu   Y
Sa-1   10     4      59.98 0.63 16.42 5.46 ...   NA   NA   NA   NA   NA   NA 25
Sa-2   10     4      55.17 0.71 17.00 5.26 ...   NA   NA   NA   NA   NA   NA 30
Sa-3   10     4      55.09 0.75 17.59 5.81 ...   NA   NA   NA   NA   NA   NA 30
Sa-4   10     4      50.72 0.83 17.57 7.65 ... 5.80 1.03 2.80 0.43 2.88 0.43 38
Sa-7   10     1      57.73 0.95 18.82 5.43 ... 2.70 0.56 1.64 0.24 1.52 0.25 24
SaD-1   8     1      52.90 1.35 18.23 7.24 ...   NA   NA   NA   NA   NA   NA 36
Gbs-1  19     1      49.63 0.76 13.34 5.69 ...   NA   NA   NA   NA   NA   NA 20
Gbs-20 19     1      51.72 0.67 14.17 6.43 ...   NA   NA   NA   NA   NA   NA 19
Gbs-2  19     1      48.84 0.34 21.64 2.74 ...   NA   NA   NA   NA   NA   NA 10
Gbs-3  19     1      55.80 0.80 16.98 6.22 ...   NA   NA   NA   NA   NA   NA 42
Po-1    1     2      62.95 0.28 20.02 1.65 ... 0.64 0.11 0.37 0.06 0.51 0.08 11
Po-3    1     2      68.30 0.28 15.29 2.12 ...   NA   NA   NA   NA   NA   NA  8
Po-4    1     2      71.09 0.30 15.09 2.12 ... 0.80 0.14 0.50 0.09 0.61 0.10  7
Po-5    1     2      71.42 0.30 15.04 2.41 ...   NA   NA   NA   NA   NA   NA  5
       Cs  Ta  Hf
Sa-1    NA  NA  NA
Sa-2    NA  NA  NA
Sa-3    NA  NA  NA
Sa-4   5.7 0.5 2.5
Sa-7   6.6 0.6 3.6
SaD-1  2.3 1.1 1.8
Gbs-1   NA  NA  NA
Gbs-20  NA  NA  NA
Gbs-2   NA  NA  NA
Gbs-3   NA  NA  NA
Po-1   3.0 0.3 4.2
Po-3    NA  NA  NA
Po-4   3.0 0.2 5.4
Po-5    NA  NA  NA

The normal behaviour of reading a file into a df is to convert string to factors (this can be overridden, of course).

Tibbles do not like rownames (in fact, they actively discourage using them). So it's not straightforwards to load files with one less item in the first line (as you would do in plain R). However,

In [47]:
sazxlFile <- paste(gcdkit.dir,"Test_data\\sazava.xls",sep="")
library(readxl)
sazava_tbl<- read_xls(sazxlFile)
sazava_tbl

New names:
* `` -> ...1

   ...1   Intrusion Locality   Petrology                 Outcrop
1  Sa-1   Sazava    Mrac       bi-amph quartz diorite    working quarry
2  Sa-2   Sazava    Mrac       bi-amph quartz diorite    working quarry
3  Sa-3   Sazava    Mrac       bi-amph quartz diorite    working quarry
4  Sa-4   Sazava    Mrac       bi-amph quartz diorite    working quarry
5  Sa-7   Sazava    Teletín    bi-amph tonalite          disused quarry
6  SaD-1  basic     Teletín    bi-amph quartz diorite    disused quarry
7  Gbs-1  basic     Pecerady   px-amph gabbro            disused quarry
8  Gbs-20 basic     Pecerady   px-amph gabbro            disused quarry
9  Gbs-2  basic     Vavretice  amph-bi qtz gabbrodiorite disused quarry
10 Gbs-3  basic     Brtnice    amph-bi qtz gabbrodiorite water supply gallery
11 Po-1   Pozary    Krhanice   bi trondhjemite           working quarry
12 Po-3   Pozary    Prosecnice bi trondhjemite           working quarry
13 Po-4   Pozary    Prosecnice bi trondhjemite           working quarry
14 Po-5   Pozary    Prosecnice bi trondhjemite           working quarry
   Symbol Colour SiO2  TiO2 Al2O3 ... Dy   Ho   Er   Tm   Yb   Lu   Y  Cs  Ta
1  10     4      59.98 0.63 16.42 ...   NA   NA   NA   NA   NA   NA 25  NA  NA
2  10     4      55.17 0.71 17.00 ...   NA   NA   NA   NA   NA   NA 30  NA  NA
3  10     4      55.09 0.75 17.59 ...   NA   NA   NA   NA   NA   NA 30  NA  NA
4  10     4      50.72 0.83 17.57 ... 5.80 1.03 2.80 0.43 2.88 0.43 38 5.7 0.5
5  10     1      57.73 0.95 18.82 ... 2.70 0.56 1.64 0.24 1.52 0.25 24 6.6 0.6
6   8     1      52.90 1.35 18.23 ...   NA   NA   NA   NA   NA   NA 36 2.3 1.1
7  19     1      49.63 0.76 13.34 ...   NA   NA   NA   NA   NA   NA 20  NA  NA
8  19     1      51.72 0.67 14.17 ...   NA   NA   NA   NA   NA   NA 19  NA  NA
9  19     1      48.84 0.34 21.64 ...   NA   NA   NA   NA   NA   NA 10  NA  NA
10 19     1      55.80 0.80 16.98 ...   NA   NA   NA   NA   NA   NA 42  NA  NA
11  1     2      62.95 0.28 20.02 ... 0.64 0.11 0.37 0.06 0.51 0.08 11 3.0 0.3
12  1     2      68.30 0.28 15.29 ...   NA   NA   NA   NA   NA   NA  8  NA  NA
13  1     2      71.09 0.30 15.09 ... 0.80 0.14 0.50 0.09 0.61 0.10  7 3.0 0.2
14  1     2      71.42 0.30 15.04 ...   NA   NA   NA   NA   NA   NA  5  NA  NA
   Hf
1   NA
2   NA
3   NA
4  2.5
5  3.6
6  1.8
7   NA
8   NA
9   NA
10  NA
11 4.2
12  NA
13 5.4
14  NA

As you see, the textual columns are of type  `<chr>` and not `<fct>` - tibbles perform no automatic type conversion.

As we mentionned, tibbles are "lazy and surly: they do less and they complain more".

**Tibbles are lazy:** one of the best features of tibbles is that they are type stable - operations on a tibble always return a tibble, unless you explicitly ask otherwise. So, for instance

In [48]:
sazava.df[,5]
# A vector

 [1] 10 10 10 10 10  8 19 19 19 19  1  1  1  1

In [49]:
sazava_tbl[,6]
# A tibble

   Symbol
1  10
2  10
3  10
4  10
5  10
6   8
7  19
8  19
9  19
10 19
11  1
12  1
13  1
14  1

In [50]:
sazava.df[1,7]
# A scalar

[1] 59.98

In [51]:
sazava_tbl[1,8]
# Still a tibble !

  SiO2
1 59.98

In [52]:
sazava.df[1,NULL]
# A dataframe

Sa-1

In [54]:
sazava_tbl[1,NULL]
# Still a tibble (but jupyter does not print it, try in Rgui)

1

If you want to convert the contents of a tibble to a vector, you can do it explicitely by using the tibble function `as_vector` (NOT the same as plain R `as.vector` !)

In [83]:
as_vector(sazava_tbl[,6])

 Symbol1  Symbol2  Symbol3  Symbol4  Symbol5  Symbol6  Symbol7  Symbol8
      10       10       10       10       10        8       19       19
 Symbol9 Symbol10 Symbol11 Symbol12 Symbol13 Symbol14
      19       19        1        1        1        1

Or you can use the [[ or $ operator (as this performs implicit conversion, however, this is discouraged):

In [84]:
sazava_tbl$SiO2

 [1] 59.98 55.17 55.09 50.72 57.73 52.90 49.63 51.72 48.84 55.80 62.95 68.30
[13] 71.09 71.42

In [86]:
sazava_tbl[["SiO2"]]

 [1] 59.98 55.17 55.09 50.72 57.73 52.90 49.63 51.72 48.84 55.80 62.95 68.30
[13] 71.09 71.42

**Tibbles are surly:** they complain more and won't let you, for instance, use partial matching:

In [59]:
sazava.df$Si
# Automatically expanded to SiO2

 [1] 59.98 55.17 55.09 50.72 57.73 52.90 49.63 51.72 48.84 55.80 62.95 68.30
[13] 71.09 71.42

In [61]:
sazava_tbl$Si

Warning message:
"Unknown or uninitialised column: `Si`."

NULL

Tibbles can also deal with poorly conformed variable names, as long as you protect them with back ticks, and they won't try to convert them to something "sensible":

In [62]:
tibble(a=c(1,2,3),`a silly and +-*? dangerous "title"`=c(4,5,6))

  a a silly and +-*? dangerous "title"
1 1 4
2 2 5
3 3 6

In [79]:
tbl<-tibble(a=c(1,2,3),`a silly and +-*? dangerous "title"`=c(4,5,6))
tbl$`a silly and +-*? dangerous "title"`

[1] 4 5 6

In [63]:
data.frame(a=c(1,2,3),`a silly and +-*? dangerous "title"`=c(4,5,6))

  a a.silly.and......dangerous..title.
1 1 4
2 2 5
3 3 6

(whether you regard the above as a good, or bad feature is another matter...)

**Tibbles are still data.frames**, so you can perform normal data frame operations on them (subset, assign, etc.) :

In [65]:
tbl <- tibble (a=c(1,2,3),
              b=c(NA,4,5),
              d=c("blue","green","red"))
tbl[1,]

  a b  d
1 1 NA blue

[1] 1 2 3

[1] 1 2 3

In [67]:
tbl[1,1]<-2
tbl

  a b  d
1 2 NA blue
2 2  4 green
3 3  5 red

In [70]:
tbl[tbl[,"a"]>2,]

  a b d
1 3 5 red

However, **tibbles come with more evolved methods** to perform basic tasks:

In [71]:
tbl <- tibble (a=c(1,2,3),
              b=c(NA,4,5),
              d=c("blue","green","red"))
df <- data.frame (a=c(1,2,3),
              b=c(NA,4,5),
              d=c("blue","green","red"))

In [74]:
other_tbl <- tibble (b=c(5,5,7),
              a=c(0,4,3),
              e=c("white","green","purple"))
other.df <- data.frame (b=c(5,5,7),
              a=c(0,4,3),
              e=c("white","green","purple"))

In [76]:
rbind(df,other.df)
# oops

ERROR: Error in match.names(clabs, names(xi)): names do not match previous names

In [73]:
bind_rows(tbl,other_tbl)
# Works as planned

  a b  d     e
1 1 NA blue  NA
2 2  4 green NA
3 3  5 red   NA
4 0  5 NA    white
5 4  5 NA    green
6 3  7 NA    purple

There are even more explicit methods for subsetting :

In [87]:
tbl <- tibble (a=c(1,2,3),
              b=c(NA,4,5),
              d=c("blue","green","red"))
tbl[tbl[,"a"]>2,]

  a b d
1 3 5 red

This can be replaced by

In [88]:
filter(tbl,a>2)

  a b d
1 3 5 red

and likewise

In [89]:
tbl[,"a"]
select(tbl,"a")

  a
1 1
2 2
3 3

  a
1 1
2 2
3 3

which means that we can combine them into

In [92]:
filter(select(tbl,"a"),a<3)

  a
1 1
2 2

As we will see latter, they work very well with the "pipe" operator.

So, in summary:
- Tibbles are modified data.frame.
- They are lazy and surly (they do less and they complain more), forcing you to write more explicit code and not rely on implicit conversions.
- They come with functions that mirror plain R functions, adapted for tibbles and, in general, doing more evolved operations. Mosty, they do have names with underscores (i.e. `as_vector`, `bind_rows`...)